<div class="submit-form">
    <div *ngIf="!submitted">
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          required
          [(ngModel)]="tutorial.title"
          name="title"
        />
      </div>
  
       <div class="form-group">
        <label for="password">Password</label>
        <input
        type="password"
          class="form-control"
          id="description"
          required
          [(ngModel)]="tutorial.description"
          name="description"
        />
      </div>
      <div class="form-group">
        <label for="repassword">Retype Password</label>
        <input
        type="password"
          class="form-control"
          id="description"
          required
          [(ngModel)]="tutorial.repassword"
          name="repassword"
        />
      </div>
  
      <button (click)="saveTutorial()" class="btn btn-success">Register</button>
    </div>
  
  </div>
  